# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.db
build/kkrooo/.vs/kkrooo/v16/.suo
*.ilk
*.pdb
build/.vs/kkrooo/v16/.suo
build/app/x64/Debug/app.log
build/app/x64/Debug/app.tlog/app.lastbuildstate
*.tlog
build/kkrooo/x64/Debug/kkrooo.engine.Build.CppClean.log
build/kkrooo/x64/Debug/kkrooo.log
build/kkrooo/x64/Debug/kkrooo.vcxproj.FileListAbsolute.txt
*.idb
build/x64/Debug/app.log
build/x64/Debug/kkrooo.log
*.opendb
*.ipch
*.db-shm
*.db-wal
build/app/x64/Debug/app.vcxproj.FileListAbsolute.txt
build/app/x64/Debug/kkrooo.Build.CppClean.log
*.exp
build/app/x64/Release/app.log
build/kkrooo/x64/Release/kkrooo.log
build/kkrooo/x64/Debug/kkrooo.engine_debug.Build.CppClean.log
build/kkrooo/x64/Debug/kkrooo.engine_debug.Build.CppClean.log
build/app/x64/Release/app.vcxproj.FileListAbsolute.txt
build/app/x64/Release/kkrooo.Build.CppClean.log
build/kkrooo/x64/Release/kkrooo.engine.Build.CppClean.log
build/kkrooo/x64/Release/kkrooo.vcxproj.FileListAbsolute.txt
plugins/.vs/plugins/v16/.suo
*.kkp
plugins/.vs/
plugins/obj/Debug/obj.log
plugins/obj/obj/x64/Release/obj.log
plugins/obj/Release/obj.log
plugins/obj/obj/x64/Debug/obj.log
plugins/obj/obj/x64/Release/obj.Build.CppClean.log
plugins/obj/obj/x64/Release/obj.vcxproj.FileListAbsolute.txt
plugins/png/png/x64/Release/png.log
plugins/png/png/x64/Release/png.Build.CppClean.log
plugins/png/png/x64/Release/png.vcxproj.FileListAbsolute.txt
plugins/FreeImage/FreeImage/x64/Release/FreeImage.vcxproj.FileListAbsolute.txt
plugins/FreeImage/FreeImage/x64/Release/FreeImage.log
plugins/FreeImage/FreeImage/x64/Release/FreeImage.Build.CppClean.log
plugins/.vs/plugins/v16/.suo
bin64/imgui.ini
bin64/untitled.ppm
*.iobj
*.ipdb
build/app/x64/Finale/app.log
build/kkrooo/x64/Finale/kkrooo.engine.Build.CppClean.log
build/kkrooo/x64/Finale/kkrooo.log
build/kkrooo/x64/Finale/kkrooo.vcxproj.FileListAbsolute.txt
plugins/png/FI_png/x64/Release/FI_png.Build.CppClean.log
plugins/png/FI_png/x64/Release/png.Build.CppClean.log
plugins/png/FI_png/x64/Release/png.log
plugins/png/FI_png/x64/Release/png.vcxproj.FileListAbsolute.txt
bin64/out.txt
plugins/FreeImage/FreeImage/x64/Finale/FreeImage.Build.CppClean.log
plugins/FreeImage/FreeImage/x64/Finale/FreeImage.log
plugins/FreeImage/FreeImage/x64/Finale/FreeImage.vcxproj.FileListAbsolute.txt
plugins/obj/obj/x64/Finale/obj.Build.CppClean.log
plugins/obj/obj/x64/Finale/obj.log
plugins/obj/obj/x64/Finale/obj.vcxproj.FileListAbsolute.txt
plugins/png/FI_png/x64/Finale/FI_png.Build.CppClean.log
plugins/png/FI_png/x64/Finale/png.log
plugins/png/FI_png/x64/Finale/png.vcxproj.FileListAbsolute.txt
plugins/assimp/assimp/x64/Release/assimp.log
plugins/AI_3ds/AI_3ds/x64/Release/AI_3ds.log
build/app/x64/Finale/app.vcxproj.FileListAbsolute.txt
build/app/x64/Finale/kkrooo.Build.CppClean.log
plugins/AI_3ds/AI_3ds/x64/Release/AI_3ds.Build.CppClean.log
plugins/AI_3ds/AI_3ds/x64/Release/AI_3ds.vcxproj.FileListAbsolute.txt
*.log
plugins/AI_3ds/AI_3ds/x64/Finale/AI_3ds.vcxproj.FileListAbsolute.txt
plugins/assimp/assimp/x64/Finale/assimp.vcxproj.FileListAbsolute.txt
bin64/output_debug_ImageToBin.bin
bin64/output_debug_ImageToBin.txt
build/boost.python/x64/Finale/boost.python.vcxproj.FileListAbsolute.txt
build/standartRenderer/x64/Release/standartRenderer.vcxproj.FileListAbsolute.txt
build/standartRenderer/x64/Finale/standartRenderer.vcxproj.FileListAbsolute.txt
/src/engine/CMakeFiles
/src/app/CMakeFiles
*.cmake
src/engine/CMakeCache.txt
src/app/CMakeCache.txt
plugins/obj/obj/x64/Finale_Intel/obj.vcxproj.FileListAbsolute.txt
plugins/png/FI_png/x64/Finale_Intel/png.vcxproj.FileListAbsolute.txt
plugins/simpleObjectCreator/simpleObjectCreator/x64/Finale_Intel/simpleObjectCreator.vcxproj.FileListAbsolute.txt
plugins/FI_tiff/FI_tiff/x64/Finale_Intel/FI_tiff.vcxproj.FileListAbsolute.txt
plugins/FI_tga/FI_tga/x64/Finale_Intel/FI_tga.vcxproj.FileListAbsolute.txt
plugins/FI_jpg/FI_jpg/x64/Finale_Intel/FI_jpg.vcxproj.FileListAbsolute.txt
plugins/FI_gif/FI_gif/x64/Finale_Intel/FI_gif.vcxproj.FileListAbsolute.txt
plugins/FI_dds/FI_dds/x64/Finale_Intel/FI_dds.vcxproj.FileListAbsolute.txt
build/standartRenderer/x64/Finale_Intel/standartRenderer.vcxproj.FileListAbsolute.txt
build/standartObjects/x64/Finale_Intel/standartObjects.vcxproj.FileListAbsolute.txt
plugins/AI_3ds/AI_3ds/x64/Finale_Intel/AI_3ds.vcxproj.FileListAbsolute.txt
plugins/FI_bmp/FI_bmp/x64/Finale_Intel/FI_bmp.vcxproj.FileListAbsolute.txt
build/app/x64/Finale_Intel/app.vcxproj.FileListAbsolute.txt
bin64_I/imgui.ini
plugins/obj/CMakeFiles/3.17.3/CMakeDetermineCompilerABI_C.bin
plugins/obj/CMakeFiles/3.17.3/CMakeDetermineCompilerABI_C.bin
plugins/obj/CMakeFiles/3.17.3/CMakeDetermineCompilerABI_CXX.bin
plugins/obj/CMakeFiles/3.17.3/CMakeDetermineCompilerABI_C.bin
build/app/Win32/Finale/app.vcxproj.FileListAbsolute.txt
build/Finale/app.vcxproj.FileListAbsolute.txt
build/kkrooo/Win32/Finale/kkrooo.vcxproj.FileListAbsolute.txt
build/standartObjects/Win32/Finale/standartObjects.vcxproj.FileListAbsolute.txt
build/standartRenderer/Win32/Finale/standartRenderer.vcxproj.FileListAbsolute.txt
*.recipe
